.Card {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 50px;
}

.Card .Header {
  display: flex;
  justify-content: center;
}

.Card .Header .Title {
  flex: 1;
  padding: 5px;
}

.Card .Content {
  padding: 20px;
}

.Card.Red .Header { color: #FFF; background-color: #C62828; }
.Card.Red .Content { background-color: #F44336; }

.Card.Blue .Header { color: #FFF; background-color: #2d28c6; }
.Card.Blue .Content { background-color: #365ff4; }

.Card.Green .Header { color: #FFF; background-color: #28c628; }
.Card.Green .Content { background-color: #36f456; }

.Card.Purple .Header { color: #FFF; background-color: #a628c6; }
.Card.Purple .Content { background-color: #d836f4; }
